<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.People"
                             Color="Color.Primary"
                             Size="Size.Small"
                             Title="People"
                             Class="text-primary"/> Employees
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.Backpack"
                             Color="Color.Success"
                             Size="Size.Small"
                             Title="Backpack"
                             Class="text-success" /> Vacation
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.Watch"
                             Color="Color.Secondary" Size="Size.Small"
                             Title="Watch"
                             Class="text-danger" /> Overtime
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.MedicalServices"
                             Color="Color.Warning"
                             Size="Size.Small"
                             Title="MedicalServices"
                             Class="text-warning" /> Doctor
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.Fence"
                             Color="Color.Info"
                             Size="Size.Small"
                             Title="Fence"
                             Class="text-info" /> Sanctions
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header">
                    <MudIcon Icon="@Icons.Material.Filled.Apartment"
                             Color="Color.Dark"
                             Size="Size.Small"
                             Title="Apartment"
                             Class="text-dark" /> Departments
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
